.header{
    width: 100%;
    margin: 7% 0 0 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
        margin-left: 5%;
        width: 65px;
        height: 35px;
        background-image: url('../../assets/icon/icon-logo-app.svg');
    }

    .search{
        margin: 0 2% 0 2%;
        width: 50%;
        height: 30px;
        border: 1px solid #a4a4a5;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;

        input{
            font-size: 14px;
            padding-left: 10px;
            width: 100% - 20%;
            border: none;
            outline: none;
        }

        .icon-search{
            margin: 8px;
            float: right;
            width: 14px;
            height: 14px;
            background-image: url('../../assets/icon/iconsearch.png');
        }
    }

    .icon-cart{
        margin-right: 5%;
        width: 30px;
        height: 30px;
        border-radius: 100px ;
        background: url('../../assets/icon/icon-cart.svg') no-repeat;
        background-size: cover;
    }
}

.location{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icon-location{
        
        width: 15px;
        height: 19px;
        background: url('../../assets/icon/icon-location.svg') no-repeat;
        background-size: cover;
    }

    h1{
        margin: 0 15px 0 15px;
        width: 70%;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5vw;
        line-height: 25px;
        color: #66696E;
    }

    .icon-go{
        margin-left: 15px;
        width: 14px;
        height: 23px;
        background: url('../../assets/icon/icon-go.svg') no-repeat;
        background-size: cover;
    }
}

.hot-items{
    margin: 0 0 10px 0;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    p{
        margin: 0 0 0 2rem;
        float: left;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #03A87C;
    }

    ion-col{
        display: flex;
        justify-content: center;

        .item{
            width: 100%;
            border-radius: 8px;
            margin: 5px 1% 0 6px;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .imgItem{
                border-radius: 4px;
                margin: 5px 5px 0 5px;
                // width: 120;
                height: 30vw;
                border-radius: 8px;
                .img-fix {
                    height: 100%;
                    object-fit: cover;
                }
            }

            h2{
                margin: 10px 15px 0 15px;
                font-weight: bold;
                font-size: 12.5px;
                line-height: 16px;
                color: #404A5A;
            }

            .price{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-left: 3px;
                .price-item{
                    float: left;
                    width: 65%;
                    #price-real{
                        margin: 15px 0 0 10px;
                        font-weight: bold;
                        text-decoration: line-through;
                        font-size: 10px;
                        line-height: 12px;
                        color: #ADADAD;
                    }
                    #price-sale{
                        margin: 4px 0 12px 10px;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                        color: #404A5A;
                    }
                }

                .icon-addtocard{
                    margin: 5px 0 0 0;
                    width: 30px;
                    height: 30px;
                    background: url('../../assets/icon/icon-add-to-cart.svg') no-repeat;
                    background-size: cover;
                }
            }
        }  

    }
}

.fixed {
    position: fixed;
    z-index: 100000;
    width: 100%;
    background-color: #FFFFFF;
}

.list-items{
    margin-top: 37%;
}